@font-face{
    font-family: "Overpass-Bold";
    src: url(/fonts/Overpass-Bold.ttf);
}
@font-face{
    font-family: "Roboto-Medium";
    src: url(/fonts/Roboto-Medium.ttf);
}
@font-face{
    font-family: "Roboto-Regular";
    src: url(/fonts/Roboto-Regular.ttf);
}
